/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
	background-color: #43150c;
	position: relative;
	height: -webkit-fill-available;
}
.pic{
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.picdiv{
	width: 100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}
img{
	width: 100%;
}
.title{
	color: yellow;
	top: 7%;
	font-family: Impact;
	font-size: 72px;
}
.text{
	text-align: center;
}
.link{
	position: relative;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.link ul li{
	display: inline;
}
.char, .ep1, .ep2{
	color: white;
	font-family: Impact;
	font-size: 24px;
}
.char{
	margin-right: 10%;
}
.ep2{
	margin-left: 10%;
}
.clear{
	clear: both;
}

@media screen and (max-width:800px){
	.wrapper{
		height: -webkit-fill-available;
	}
	.link{
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.link ul li{
		display: flex;
		margin-left: 10%;
		margin-top: 5%;
	}
	.ep2{
		margin-left: 0;
	}
}

@media screen and (max-width:420px){
	.title{
		font-size: 54px;
	}
}